<div class="message" id="message-{{ID}}">
    <div class="message-header">

        {{#if sender.admin}}
        <img title="Avatar" src="/img/admin.png" width=32 height=32 class="avatar">
        {{else}}
        {{#if sender.anonymous}}
        <img title="Avatar" src="/img/anonymous.png" width=32 height=32 class="avatar">
        {{else}}
        <img title="Avatar" src="/img/user.png" width=32 height=32 class="avatar">
        {{/if}}
        {{/if}}

        <span title="User Name" class="username">{{sender.name}}</span>
        <span title="Time" class="time">{{time time}}</span>
        <button onclick="DeleteMessage('{{ID}}')" title="Delete Message">
            <img src="/img/bin.png" alt="Delete Message" width=24 height=24>
        </button>
    </div>
    <div class="message-body">
        {{content}}
    </div>
</div>