<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="stylesheet" href="/base-style.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="status-container">
        <div>
            <img src="/img/antenna-off.png" width=24 height=24 class="miniicon" id="status-socket-icon"><span id="status-socket">Loading ...</span>
        </div>
        <div style="padding-top: 7px;">
            You are <span id="status-user">{{user.name}}</span>
        </div>
        <div style="padding-top:unset">
            <button onclick="LogOut(event)">Leave</button>
        </div>
        <div style="padding-top:unset" id="users-container-toggle">
            <button onclick="document.getElementById('users-container').classList.toggle('visible')">
                Users
            </button>
        </div>
    </div>

    <div id="main-content">
        <div id="channels-container">
            <h1>Channels</h1>
            {{#each channels}}
            <div class="button channel-container" id="channel-{{ID}}">
                <a href="/channel/{{ID}}">
                    <h2>
                        {{ID}}
                    </h2>
                </a>
            </div>
            {{/each}}
        </div>
        <div id="chat-container">
            <div id="channel-header">
                <button onclick="BeginVoice()" id="button-begin-voice">
                    <img src="/img/phone.png" width="16" height="16" class="miniicon">
                    <span id="button-begin-voice-label">Begin Call</span>
                </button>
                <img src="/img/dialing.gif" width="32" height="32" style="display: none;">
                <span id="label-current-voice"></span>
            </div>

            <div id="messages">
                {{#each messages}}
                {{#with this}}{{> base_message}}{{/with}}
                {{/each}}
            </div>
            <script defer>
                function ScrollToBottom() {
                    const messagesElement = document.getElementById('messages')
                    messagesElement.scrollTo(0, messagesElement.scrollHeight)
                }
                setTimeout(ScrollToBottom, 1)
            </script>

            <div id="input">
                <input id="chat-input" placeholder="Message" type="text" maxlength=256 onkeypress="OnKeyPress(event)">
                <button onclick="SendMessage()">
                    <img src="/img/pencil.png" width=24 height=24 class="miniicon">
                    <span style="height: 100%; display: inline-block; vertical-align: middle; position: relative; top: 1px;">Send Message</span>
                </button>
            </div>
        </div>
        <div id="users-container">
            <h1>Users</h1>
            {{#each users}}
            <div class="user-container">
                <div>
                    {{#if admin}}
                    <img title="Avatar" src="/img/admin.png" width=32 height=32 class="avatar">
                    {{else}}
                    {{#if anonymous}}
                    <img title="Avatar" src="/img/anonymous.png" width=32 height=32 class="avatar">
                    {{else}}
                    <img title="Avatar" src="/img/user.png" width=32 height=32 class="avatar">
                    {{/if}}
                    {{/if}}
                    <h1>
                        {{#if anonymous}}
                        Guest
                        {{else}}
                        {{name}}
                        {{/if}}
                    </h1>

                    {{#if isOnline}}
                    <span class="status-icon status-icon-online" title="Online"></span>
                    {{else}}
                    <span class="status-icon status-icon-offline" title="Offline"></span>
                    {{/if}}

                    <br/>

                    <span class="last-activity-label">{{datetime lastAction}}</span>

                    {{#if admin}}
                    <br/>

                    <span>Admin</span>
                    {{/if}}
                    
                    {{#if anonymous}}
                    <br/>

                    <span>Anonymous</span>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <script>
        const info = {{#if chatInfo}} {{{json chatInfo}}} {{else}} null {{/if}}

        window.ChatInformations = info
    </script>
    <script src="/cookie.js"></script>
    <script src="/http.js"></script>
    <script src="/handlebars.js"></script>
    <script src="/register-handlebar-helpers.js"></script>
    <script src="/utilities.js"></script>
    <script defer src="/socket.js"></script>
    <script defer src="/chat.js"></script>
</body>
</html>